刘贝尔，你好
       
从你简历看还比较符合我们实习生的要求，为了进一步考察你的coding能力和对交易的理解, 下面给你安排了一个简单但较为务实的开放式小课题
       
附件是一份股票日内T0策略的交易记录. 

1. 请你以先进先出的原则, 用python写一个策略交易绩效分析的脚本用以考察策略的交易绩效. 考察的方面包含但不限于: 每笔/每日盈亏, 胜率, 盈亏比, 持仓周期, 交易量统计等. 
2. 请你以上述绩效结果, 对此策略做出分析和评价.
      

deadline: 本周日晚24点，提交报告以及源代码
      
谢谢，有任何问题可与我或曾毅沟通

振宇

证券代码|证券名称|交易类型|成交股数|成交价格|成交编号|交易费用
69		69		卖出		14:55:44	8.72	xxxxxxxx	1.63
column_ls=['ticker','s_name','buy_sell','trade_t','trade_vol','trade_price','trade_code','trade_cost'];